In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
df = pd.read_csv("processed-data/processed_2024_qc.csv")

In [16]:
df_qc = df.loc[:, ["date", "time"] + df.columns[df.columns.str.startswith("qcscore")].tolist()]
df_qc.head()

,date,time,qcscore,qcscore_maxt,qcscore_mint,qcscore_rh,qcscore_ws,qcscore_wd,qcscore_60rf,qcscore_sol
0,2024/01/01,00:00:00,G,G,G,G,G,G,G,G
1,2024/01/01,01:00:00,G,G,G,G,G,G,G,G
2,2024/01/01,02:00:00,G,G,G,G,G,G,G,G
3,2024/01/01,03:00:00,G,G,G,G,G,G,G,G
4,2024/01/01,04:00:00,G,G,G,G,G,G,G,G

In [17]:
df_qc["time"].value_counts()

time
00:00:00    287
23:00:00    286
01:00:00    285
02:00:00    284
04:00:00    284
10:00:00    284
08:00:00    284
03:00:00    284
12:00:00    283
11:00:00    283
09:00:00    283
05:00:00    282
07:00:00    282
06:00:00    282
14:00:00    282
13:00:00    282
22:00:00    282
19:00:00    282
20:00:00    282
18:00:00    282
21:00:00    281
17:00:00    280
15:00:00    279
16:00:00    279
Name: count, dtype: int64

In [20]:
df_qc["date"].value_counts()

date
2024/12/31    24
2024/01/01    24
2024/01/02    24
2024/01/03    24
2024/01/04    24
              ..
2024/10/07     1
2024/08/11     1
2024/08/01     1
2024/09/02     1
2024/02/13     1
Name: count, Length: 297, dtype: int64